//Body start
.blogpage{
    background-color: #f8f8f8;
}

.blog-page-top-section{
    background-image: url("../images/blog-title.png");  
    padding: 60px;
    margin-bottom: 60px;
    @media (min-width:576px) {
        padding: 90px; 
    }

    @media (min-width:768px) {
        padding: 120px; 
    }

    .section-heading{
        .main-heading{
            color: #3d4043;
            font-family: $primary-font;
            font-weight: 800;
            text-align: center;
            font-size: 20px;
            
            @media (min-width:576px) {
                font-size: 30px;
            }

            @media (min-width:768px) {
                font-size: 40px;
            }
        }
    }
    
}

.blog-section-main{
    .blog-section-column{
        .blog-section-heading{
            font-family: $primary-font;
            font-weight: 800;
            text-align: center;
            font-size: 30px;
            color: #3d4043;
            margin-bottom: 50px;

            @media (min-width:576px) {
                font-size: 50px;
            }
        }
    }
    .blog-colomn{
        font-family: $primary-font;
        row-gap: 30px;
        // .blogs{
        //     position: relative;    
        //     .blog-img{
        //         img{
        //             border-radius: 22px;
        //             width: 100%;
        //         }
               
        //     }

        //     .content {
        //         position: relative;
        //         overflow: hidden;
        //         max-height: 0;
        //         background-color: $secondary-color;
        //         border-radius: 22px;
        //         width: 95%;
        //     }
            
        //     .inner {
        //         padding: 1.5rem;
        //         span{
        //            font-size: 11px;
        //            font-weight: 600;
        //         }
        //         text-align: left;
        //         font-size: 15px;
        //         font-family: $primary-font;
        //         font-weight: 700;

        //         @media  (min-width:576px) {
        //             span{
        //                 font-size: 16px;
        //              }
        //              font-size: 20px;
        //         }
        //     }
        //      &.content {
        //         transition: max-height 500ms ease-in;
               
        //     }
            
        //     &:hover .content {
        //         position: absolute;
        //         top: 0%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
            
        //         color: #f0f0f0;
            
        //         max-height: 130px;

        //         @media  (min-width:576px) {
        //             max-height: 300px;
        //         }
        //     }
        // }
        // .blogs:hover .blog-img {
        //     transform: translate(0, 35%); 
        // }

        .blogs {
            position: relative;
            overflow: hidden;
            border-radius: 22px;
        }
        
        a {            
            text-decoration: none;
            color: inherit;
        }
        
        .blog-img {
            width: 100%;
            transition: transform 0.3s, filter 0.3s;
            img{
                border-radius: 22px;
            }
            
        }
        
        .blogs:hover .content {
            opacity: 1;
            transform: translateY(0);
         

        }
        
        .blogs:hover .blog-img {
            transform: scale(1.1);
            filter: brightness(60%);
            border-radius: 22px;
        }
        
        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 0.3s, transform 0.3s;
           
            background-color: change-color($secondary-color , $alpha:0.5)  ; 
            .inner {
                text-align: center;
                color: #f0f0f0;
                padding: 10px;
                font-size: 18px;
                span {
                    font-size: 14px;
                }
            }
        }  

    }
    
}

.pagination{
    .pagination_section {
        margin-top: 40px;
        padding: 20px;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        @media (min-width:576px) {
            padding: 50px;  
        }
        
       .nav-links{
        display: inline-block;
            .current{
                background-color: $secondary-color; 
                color: #3d4043;     
            }
            .page-numbers{
                color:#3d4043;
                padding: 5px 10px;
                text-decoration: none;
              

                @media (min-width:576px) {
                    padding: 10px 18px;   
                }
            }   

        }
        .pagination_section a:hover:not(.active) {
            background-color: $primary-color;
        }
    }   
}

/* blog single page css */

.blog-single-main{

    .blog-colomns{
        color: #000;
        text-align: center;
        
        .bloging{
            .blog-imgs{
                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;               
                    margin-bottom: 20px;
                    border-radius: 22px;
                }
                
            }
            .blog-content{
                text-align: left;
                font-family: $primary-font;
                padding: 10px;

                h1,h2,h3,h4,h5,h6{
                    margin-bottom: 1rem;
                }
                p{ 
                    margin: 0; 
                    margin-bottom: 1rem !important;
                    font-weight: 400;
                    font-size: 15px;
                    text-align: justify;
                    @media (min-width:576px) {
                        font-size: 20px;
                    }
                    a{
                        text-decoration: none;
                        color: $primary-color;
                    }
                }

                ul{
                    li{
                        margin-top: 15px;
                        margin-bottom: 1rem;
                        font-size: 15px;
                        text-align: justify;
                        @media (min-width:576px) {
                            font-size: 20px;
                        }
   
                    }
                }

                ol{
                    li{
                        margin-bottom: 1rem;
                        font-size: 15px;
                        text-align: justify;
                        @media (min-width:576px) {
                            font-size: 20px;
                        }
    
                    }
                }
            }
        }
    }
}