//Body start
.homepage{
    background-color: #f8f8f8;
}

//About Us start
.about-us{
    margin-top: 50px;
    .about-heading{
        font-family: $primary-font;
        font-weight: 800;
        @include font-size(1.5rem);
        color: #3d4043;
    }
    .about-sub-heading{
        font-family: $primary-font;
        font-weight: 600;
        @include font-size(1.2rem);
        color: #333333;
        margin: 0;
    }
    .about-sub-text{
        font-family: $primary-font;
        font-weight: 600;
        @include font-size(1.4rem);
        color: $primary-color;
        margin: 0;
        padding-top: 14px;
    }
    .about-text{
        padding-top: 8px;
        font-family: $primary-font;
        font-weight: 100;
        @include font-size(1rem);
        color: #333333;
        margin: 0;
        .bold-text{
            font-weight: 800;
        }
    }
    .about-us-btn-container{
        width: 100%;
        margin-top: 20px;
        text-align: left;
        .about-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(1.1rem);
            padding: 15px 65px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}

//glimpse section start
.glimpse-sec{
    margin-top: 50px;
    margin-bottom: 50px;
    .glimpse-row{
        align-items: center;
        .glimpse{
            display: flex;
            .best-seller{
                width: 20%;
            }
            .book-image{
                width: 80%;
                .glimpse-image{
                    border-radius:15px;
                }
            }
        }
        
        .glimpse-sec-heading{
            font-family: $primary-font;
            font-weight: 800;
            @include font-size(2.5rem);
            color: #3d4043;
        }
        .glimpse-sec-sub-heading{
            font-family: $primary-font;
            font-weight: 400;
            @include font-size(1.2rem);
            color: #3d4043;
            .author-name{
                color: $primary-color;
            }
        }
        .glimpse-sec-text{
            color: #56595b;
            @include font-size(1.1rem);
            font-family: $primary-font;
            font-weight: 100;
        }
        .book-amount{
            font-family: $primary-font;
            font-weight: 600;
            @include font-size(2rem);
            color: #3d4043;
            padding-top: 10px;
        }
        .glimpse-sec-btn-container{
            width: 100%;
            margin-top: 40px;
            text-align: left;
            .glimpse-sec-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: $primary-color;
                @include font-size(1.1rem);
                padding: 10px 40px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 400;
                border-radius: 50px;
                border:1px solid $primary-color;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                    border:1px solid $primary-color;
                }
            }
        }
    }
    
}

// Publishing Service start
.publishing-service-sec{
    margin-bottom: 80px;
    .publishing-service-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 800;
        @include font-size(2rem);
        color: #3d4043;
    }
    .publishing-service-sub-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 500;
        @include font-size(1.2rem);
        color: #333333;
    }
    .publishing-btn-container{
        width: 100%;
        margin-top: 30px;
        text-align: center;
        .publishing-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: #333333;
            @include font-size(0.9rem);
            padding: 15px 50px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid #333333;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}


//Testimonials section start
.client-section{
    background-color: $primary-color;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: #fff, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: #fff;
                }
            }
        }
    }
    .client-section-heading{
        font-family: $primary-font;
        color: #ffffff;
        font-weight: 800;
        @include font-size(1.9rem);
        padding-bottom: 25px;
    }
    .slides-container{
        .slides{
            .slide{
                .slide-main{
                    width: 57%;
                    margin: 0 auto;
                    .client-text{
                        font-family: $primary-font;
                        color: #fceae2;
                        font-weight: 100;
                        font-style: italic;
                        @include font-size(1rem);
                        padding-bottom: 15px;
                    }
                    .testimonial-client-detail{
                        display: flex;
                        justify-content: center;
                        text-align: left;
                        align-items: center;
                        .testimonial-left-side{
                            .client-img{
                                border-radius: 100%;
                                width: 82%;
                            }
                        }
                        .testimonial-right-side{
                            .client-name{
                                font-family: $primary-font;
                                font-weight: 700;
                                @include font-size(1rem);
                                color: #fff;
                                margin: 0;
                            }
                            .about-client{
                                font-family: $primary-font;
                                font-weight: 100;
                                @include font-size(0.9rem);
                                color: #fff;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// faq section start 
.faq-section{
    margin-bottom: 80px;
    margin-top: 50px;
    .faq-section-heading{
        font-weight: 400;
        color: #3d4043;
        @include font-size(2rem);
        text-align: center;
        padding-bottom: 30px;
        font-family: $primary-font;
        font-weight: 800;
    }
    .accordion{
        --bs-accordion-border-color: none;
    }
    .accordion-body{
    //    background-color: #fff;
       font-weight: 400;
       color: #696770;
       @include font-size(0.9rem);
       font-family: $primary-font;
       font-weight:300;
       font-style: italic;
    }
    .accordion-button{  
        color: #ffffff;
        @include font-size(1.1rem);
        background-color: $primary-color;
        font-weight: 400;
        &::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
        &:not(.collapsed){
            background-color: #fff;
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 600;
            &::after{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z' fill='%23e96522'/%3E%3C/svg%3E");
            }
        }
      
    }
    .accordion-button:focus {
        box-shadow:none;
    }
    .accordion-item{
        margin-bottom: 10px;
        border: 0;
    } 
    .faq-btn-container{
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .faq-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: #333333;
            @include font-size(0.9rem);
            padding: 15px 65px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid #333333;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}