//Body start
.homepage{
    background-color: #f8f8f8;
}

//About Us start
.about-us{
    margin-top: 50px;
    .about-heading{
        font-family: $primary-font;
        font-weight: 800;
        @include font-size(1.5rem);
        color: #3d4043;
    }
    .about-sub-heading{
        font-family: $primary-font;
        font-weight: 600;
        @include font-size(1.2rem);
        color: #333333;
        margin: 0;
    }
    .about-sub-text{
        font-family: $primary-font;
        font-weight: 600;
        @include font-size(1.4rem);
        color: $primary-color;
        margin: 0;
        padding-top: 14px;
    }
    .about-text{
        padding-top: 8px;
        font-family: $primary-font;
        font-weight: 100;
        @include font-size(1rem);
        color: #333333;
        margin: 0;
        .bold-text{
            font-weight: 800;
        }
    }
    .about-us-btn-container{
        width: 100%;
        margin-top: 20px;
        text-align: left;
        .about-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: $primary-color;
            @include font-size(1.1rem);
            padding: 15px 65px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}

//New Releases Section Start
.new-releases-sec{
    .new-releases-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 800;
        @include font-size(2.1rem);
        color: #3d4043;
    }
    .new-releases-sub-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 500;
        @include font-size(1.1rem);
        color: #333333;
        padding-bottom: 15px;
    }
    .new-releases-text{
        .card{
            border: 1px solid #f0f0f0;
            background-color: #f0f0f0;
            border-radius: 15px;
            transition: border 0.3s ease-in-out;
            .card-body{
                .img-container{
                    .card-img-top{
                        border-radius: 15px;
                    }
                }
                .card-heading-text{
                    text-align: center;
                    font-family: $primary-font;
                    font-weight: 700;
                    @include font-size(1rem);
                    padding-top: 15px;
                    color: #000000;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .card-text{
                    text-align: center;
                    font-family: $primary-font;
                    font-weight: 400;
                    @include font-size(0.9rem);
                    color: #000000;
                    margin: 0;
                    .name{
                        color: $primary-color;
                    }
                }
                .price{
                    text-align: center;
                    font-family: $primary-font;
                    font-weight: 600;
                    @include font-size(0.9rem);
                    color: $primary-color;
                    margin: 0;
                    padding-bottom: 20px;
                    .sale-price{
                        @include font-size(1.5rem);
                        font-weight: 800;
                    }
                }
            }
            &:hover{
                border: 1px solid $primary-color;
            }
        }
    }
    .new-releases-btn-container{
            width: 100%;
            margin-top: 40px;
            text-align: center;
            .new-releases-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: #333333;
                @include font-size(1.1rem);
                padding: 10px 40px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 400;
                border-radius: 50px;
                border:1px solid #333333;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                    border:1px solid $primary-color;
                }
            }
    }
}

// Our Events Section Start
.events-sec{
    .events-sec-heading{

    }
    .events-sec-sub-heading{

    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        .grid-image1{
            grid-column: span 2;
            .image-container{
                width: 100%;
            }
        }
        .grid-image2{
            grid-row: span 2;
            .image-container{
                width: 100%;
            }
        }
        .grid-image3{
            grid-row: span 3;
            .image-container{
                width: 100%;
            }
        }
        .grid-image4{
            .image-container{
                width: 100%;
            }
        }
        .grid-image5{
            grid-row: span 2;
            .image-container{
                width: 100%;
            }
        }
        .grid-image6{
            grid-row: span 2;
            .image-container{
                width: 100%;
            }
        }
        .grid-image7{
            .image-container{
                width: 100%;
            }
        }
        .grid-image8{
            .image-container{
                width: 100%;
            }
        }
        .grid-image9{
            .image-container{
                width: 100%;
            }
        }
    }
}

//glimpse section start
.glimpse-sec{
    margin-top: 50px;
    margin-bottom: 50px;
    .glimpse-row{
        align-items: center;
        .glimpse{
            display: flex;
            .best-seller{
                width: 20%;
            }
            .book-image{
                width: 80%;
                .glimpse-image{
                    border-radius:15px;
                }
            }
        }
        
        .glimpse-sec-heading{
            font-family: $primary-font;
            font-weight: 800;
            @include font-size(2.5rem);
            color: #3d4043;
        }
        .glimpse-sec-sub-heading{
            font-family: $primary-font;
            font-weight: 400;
            @include font-size(1.2rem);
            color: #3d4043;
            .author-name{
                color: $primary-color;
            }
        }
        .glimpse-sec-text{
            color: #56595b;
            @include font-size(1.1rem);
            font-family: $primary-font;
            font-weight: 100;
        }
        .book-amount{
            font-family: $primary-font;
            font-weight: 600;
            @include font-size(2rem);
            color: #3d4043;
            padding-top: 10px;
        }
        .glimpse-sec-btn-container{
            width: 100%;
            margin-top: 40px;
            text-align: left;
            .glimpse-sec-btn{
                text-decoration: none;
                text-align: center;
                color: #ffffff;
                background-color: $primary-color;
                @include font-size(1.1rem);
                padding: 10px 40px;
                display: inline-block;
                font-family: $primary-font;
                font-weight: 400;
                border-radius: 50px;
                border:1px solid $primary-color;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: transparent;
                    color: $primary-color;
                    border:1px solid $primary-color;
                }
            }
        }
    }
    
}

// Publishing Service start
.publishing-service-sec{
    margin-top: 80px;
    margin-bottom: 80px;
    .publishing-service-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 800;
        @include font-size(2rem);
        color: #3d4043;
    }
    .publishing-service-sub-heading{
        text-align: center;
        font-family: $primary-font;
        font-weight: 500;
        @include font-size(1.2rem);
        color: #333333;
        padding-bottom: 30px;
    }
    .publishing-service-text{
        .card{
            border-radius: 20px;
            border: none;
            box-shadow:0 0 90px #cececf94;
            transition: background-color 0.3s ease-in-out;
            .img-container{
                .card-img-top{
                 width: 100%;
                }
            }
            .card-body{
                .card-heading-text{
                    text-align: center;
                    font-family: $primary-font;
                    font-weight: 700;
                    color: #333333;
                    @include font-size(1.5rem);
                    transition: color 0.3s ease-in-out;
                }
                .card-text{
                    text-align: center;
                    font-family: $primary-font;
                    font-weight: 400;
                    color: #4e4e4e;
                    @include font-size(1rem);
                    transition: color 0.3s ease-in-out;
                }
            }
            &:hover{
                background-color: $primary-color;
                .card-heading-text{
                    color: #ffffff;
                }
                .card-text{
                    color: #ffffff;
                }
            }
        }
    }
    .publishing-btn-container{
        width: 100%;
        margin-top: 30px;
        text-align: center;
        .publishing-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: #333333;
            @include font-size(0.9rem);
            padding: 15px 50px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid #333333;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}

// Distribution section start
.distribution-sec{
    margin-bottom: 80px;
    .distribution-heading{
        text-align: center;
        font-family: $primary-font;
        color: #3d4043;
        font-weight: 800;
        @include font-size(2.2rem);
        padding-bottom: 20px;
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
        .tns-controls{
            position: absolute;
            z-index: 3;
            transform: translate(-50% ,-50%);
            top: 50%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            left: 50%;
            pointer-events: none;
            width: calc(100% + 80px);
            button{
                background: none;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                box-shadow: none;
                outline: none;
                position: relative;
                border: none;
                pointer-events: all;
                svg{
                    fill: #818181;
                    height: 20px;
                    width: 20px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }
    }
    .icon-wrapper{   
        .slider-container{
            .slide{
                .item-container{
                    padding: 15px;
                    background-color: #fff;
                    border-radius: 8px;
                    box-shadow:1px 1px 7px 0px rgb(206 206 207 / 26%);
                    transition: background-color 0.3s ease-in-out;
                    .logo-image{
                        width: 60%;
                        display: flex;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

// Author section start
.author-sec{
    margin-top: 120px;
    margin-bottom: 80px;
    .author-heading{
        text-align: center;
        font-family: $primary-font;
        color: #3d4043;
        font-weight: 800;
        @include font-size(2.2rem);
        padding-bottom: 20px;
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: $primary-color, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: $primary-color;
                }
            }
        }
    }
    .author-details{   
        .slider-container{
            .slide{
                .item-container{
                    .image-container{
                        .author-image{
                            width: 80%;
                            display: flex;
                            margin: 0 auto;
                            border-radius: 100%;
                        }
                    }
                    .about-author{
                        text-align: center;
                        .author-name{
                            margin: 0;
                            font-family: $primary-font;
                            font-weight: 600;
                            color: #232731;
                            @include font-size(1rem);
                            padding-top: 15px;
                        }
                        .author-details{
                            margin: 0;
                            font-family: $primary-font;
                            font-weight: 100;
                            color: #5a5b5f;
                            @include font-size(0.9rem);
                        }
                    }
                    
                }
            }
        }
    }
}

//Testimonials section start
.client-section{
    background-color: $primary-color;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 120px;
    .tns-outer {
        position: relative;
        .tns-nav {
            display: none;
            justify-content: center;
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 100%;
            @media (min-width: 768px) {
                display: flex;
            }
            button {
                padding: 5px;
                border: none;
                background-color: change-color($color: #fff, $alpha: 0.5);
                border-radius: 50%;
                box-shadow: none;
                margin-left: 8px;
                &:first-child {
                    margin-left: 0;
                }
                &.tns-nav-active {
                    background-color: #fff;
                }
            }
        }
    }
    .client-section-heading{
        font-family: $primary-font;
        color: #ffffff;
        font-weight: 800;
        @include font-size(1.9rem);
        padding-bottom: 25px;
    }
    .slides-container{
        .slides{
            .slide{
                .slide-main{
                    width: 57%;
                    margin: 0 auto;
                    .client-text{
                        font-family: $primary-font;
                        color: #fceae2;
                        font-weight: 100;
                        font-style: italic;
                        @include font-size(1rem);
                        padding-bottom: 15px;
                    }
                    .testimonial-client-detail{
                        display: flex;
                        justify-content: center;
                        text-align: left;
                        align-items: center;
                        .testimonial-left-side{
                            .client-img{
                                border-radius: 100%;
                                width: 82%;
                            }
                        }
                        .testimonial-right-side{
                            .client-name{
                                font-family: $primary-font;
                                font-weight: 700;
                                @include font-size(1rem);
                                color: #fff;
                                margin: 0;
                            }
                            .about-client{
                                font-family: $primary-font;
                                font-weight: 100;
                                @include font-size(0.9rem);
                                color: #fff;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

//pdf section start
.brochure-section{
    background-image: url(../images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    padding-bottom: 125px;
    padding-top: 90px;
    background-color: #131313;
    .brochure-main{
        .brochure-text{
            color: #ffffff;
            font-family: $primary-font;
            font-weight: 500;
            @include font-size(2rem);
            text-align: center;
        }
        .brochure-btn-container{
            text-align: center;
            // text-decoration: none;
            color: #ffffff;
            @include font-size(1rem);
            // padding: 15px 65px;
            // display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            // border-radius: 50px;
            // border:1px solid $primary-color;
            // transition: all 0.3s ease-in-out;
        }
    }
}

// faq section start 
.faq-section{
    margin-bottom: 80px;
    margin-top: 50px;
    .faq-section-heading{
        font-weight: 400;
        color: #3d4043;
        @include font-size(2rem);
        text-align: center;
        padding-bottom: 30px;
        font-family: $primary-font;
        font-weight: 800;
    }
    .accordion{
        --bs-accordion-border-color: none;
    }
    .accordion-body{
    //    background-color: #fff;
       font-weight: 400;
       color: #696770;
       @include font-size(0.9rem);
       font-family: $primary-font;
       font-weight:300;
       font-style: italic;
    }
    .accordion-button{  
        color: #ffffff;
        @include font-size(1.1rem);
        background-color: $primary-color;
        font-weight: 400;
        &::after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z' fill='%23ffffff'/%3E%3C/svg%3E");
        }
        &:not(.collapsed){
            background-color: #fff;
            color: #1c2738;
            font-family: $primary-font;
            font-weight: 600;
            &::after{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M400 288h-352c-17.69 0-32-14.32-32-32.01s14.31-31.99 32-31.99h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z' fill='%23e96522'/%3E%3C/svg%3E");
            }
        }
      
    }
    .accordion-button:focus {
        box-shadow:none;
    }
    .accordion-item{
        margin-bottom: 10px;
        border: 0;
    } 
    .faq-btn-container{
        width: 100%;
        margin-top: 20px;
        text-align: center;
        .faq-btn{
            text-decoration: none;
            text-align: center;
            color: #ffffff;
            background-color: #333333;
            @include font-size(0.9rem);
            padding: 15px 65px;
            display: inline-block;
            font-family: $primary-font;
            font-weight: 400;
            border-radius: 50px;
            border:1px solid #333333;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: transparent;
                color: $primary-color;
                border:1px solid $primary-color;
            }
        }
    }
}